$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?12a8c632f7c1f5e8e8d3ceaced990eb8") format("truetype"),
url("./flaticon.woff?12a8c632f7c1f5e8e8d3ceaced990eb8") format("woff"),
url("./flaticon.woff2?12a8c632f7c1f5e8e8d3ceaced990eb8") format("woff2"),
url("./flaticon.eot?12a8c632f7c1f5e8e8d3ceaced990eb8#iefix") format("embedded-opentype"),
url("./flaticon.svg?12a8c632f7c1f5e8e8d3ceaced990eb8#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "illustrator": "\f101",
    "premier": "\f102",
    "experience": "\f103",
    "photoshop": "\f104",
);

.flaticon-illustrator:before {
    content: map-get($flaticon-map, "illustrator");
}
.flaticon-premier:before {
    content: map-get($flaticon-map, "premier");
}
.flaticon-experience:before {
    content: map-get($flaticon-map, "experience");
}
.flaticon-photoshop:before {
    content: map-get($flaticon-map, "photoshop");
}
